footer {
  display: grid;
  place-items: center;
  margin: 30px 0 30px 0;

  .socials>a {
    margin: 20px;
    text-decoration: none;

    &:hover {
      .svg_bg {
        fill: $mainColor;
      }

      .svg_logo {
        fill: $altColor;
      }
    }

    >svg {
      // padding: 10px;
      height: 36px;
    }
  }

  .svg_bg {
    fill: $altColor;
  }

  .svg_logo {
    fill: $mainColor;

  }

  >span {
    color: $secColor;
    font-size: .8rem;
    padding-top: 10px;
  }
}