$mainText: #BF9930;
$secText: #D0DDD7;
$altText: #161616;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/background.png);
}

@mixin section-header {
  display: inline-block;
  color: $secText;
  // border-bottom: 2px solid $mainText;
  margin-top: 10px;
}

@mixin item-info {
  margin-bottom: 15px;
  padding: 5px;

  .item_size {
    color: $secText;
  }

  .item_price {
    color: $mainText
  }
}