header {
  display: grid;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 10000;

  .phone_btn {
    z-index: 9998;
    position: fixed;
    top: 0;
    padding-top: 10px;
  }

  .logo {
    justify-self: center;

    img {
      height: 100px;
    }
  }

  nav {
    position: fixed;
    right: 0;
    padding-right: 10px;
    justify-self: end;
  }

  .hamburger {

    .menu_checkbox {
      width: 30px;
      height: 30px;
      position: absolute;
      opacity: 0;
      z-index: 9999;

      &:hover {
        cursor: pointer;
      }

      &:checked {
        ~.mobile_nav {
          top: 0;
          opacity: 1;
          transition: all .5s ease-in-out;
        }

        ~.hamburger_container {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .hamburger_container {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    transition: .5s;
    z-index: 9998;
    position: relative;

    .ham_line {
      height: 4px;
      width: 30px;
      background: #fff;
      border-radius: 2px;
    }

    #ham_line_1 {
      width: 10px;
    }

    #ham_line_2 {
      width: 20px;
    }
  }

  .full_nav {
    display: none;
  }

  .mobile_nav {
    background: url(/images/background.png);
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px auto;
    justify-items: center;
    top: -200vh;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: 9997;

    .logo {
      padding-top: 10px;
      z-index: 150;
    }

    #current {
      border-bottom: 3px solid $mainColor;
    }

    a {
      text-decoration: none;
      font-weight: 600;
      color: #fff;

      &:hover {
        color: $mainColor;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {

  .hamburger,
  .phone_btn {
    display: none;
  }

  header nav {
    position: absolute;
    width: 90%;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
    z-index: -1;

    .full_nav {
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;

      a {
        color: $secColor;
        font-weight: 800;
        text-decoration: none;
        text-shadow: 2px 2px 5px #000;
        // padding-bottom: 8px;

        &:hover {
          color: $mainColor;
        }
      }

      #current1 {
        border-bottom: 3px solid $mainColor;
      }
    }
  }
}