@import '_global.scss';
@import '_header.scss';
@import '_footer.scss';

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
}

.sticky_header {
  display: none;
}

.splash {
  position: relative;
  display: grid;

  >img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 30px;
  }
}

.splash_text {
  position: absolute;
  place-self: center;
  text-align: center;

  h1 {
    font-size: 36px;
    color: $mainText;
  }

  p {
    color: $secText;
  }
}

label {
  &:hover {
    cursor: pointer;
  }
}

.boxes {
  text-align: center;

  article {
    >img {
      width: 100%;
      padding: 15px 0;
    }

    >h2 {
      @include section-header;
      margin: 20px 0;
    }
  }
}

.caro_box {
  position: relative;

  >label {
    display: inline-block;
    content: '';
    margin: 20px;
    position: relative;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid $secText;
    z-index: 9999;
  }

  >input {
    display: none;

    &:checked+label {
      border-bottom: 14px solid $mainText;
    }
  }

  >div {

    >h3 {
      color: $secText;
      margin-bottom: 10px;
    }

    >p {
      color: $secText;
      padding: 0 5px;
      padding-top: 0;
      font-weight: bold;
    }

    >img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

.empty_space {
  height: 280px;
  width: 100%;
  margin-bottom: 0;
}

.caro_item {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  >img {
    width: 100%;
    object-fit: cover;
  }
}

#locally_sourced:checked~#offer_item1,
#gluten_free:checked~#offer_item2,
#res_special:checked~#offer_item3,
#feat_pizza:checked~#feat_item1,
#feat_pasta:checked~#feat_item2,
#feat_app:checked~#feat_item3 {
  opacity: 1;
}

.map_embed {
  text-align: center;
  margin-bottom: 30px;

  >h2 {
    @include section-header;
  }

  iframe {
    width: 100%;
    border: 0;
    height: 250px;
  }
}

// .carousel {
//   width: 100%;

//   >input {
//     display: none;
//   }

//   >img {
//     width: 100%;
//   }
// }

// Menu Page Styling

.half_splash {
  position: relative;
  display: grid;

  >img {
    opacity: .4;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 30px;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
}

hr {
  border-color: $mainText;
  width: 50%;
  margin-left: 25%;
}

.food_menu {
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 30px;

  >input[type="radio"] {
    display: none;

    &:checked+label {
      border-bottom: 2px solid $mainText;
    }
  }

  >label {
    color: $secText;
    font-weight: bold;
    padding: 10px 10px 3px 10px;
  }

  >article {
    opacity: 0;
    transform: translateX(101%);
    transition: .5s;
    position: absolute;
    top: 50px;
    width: 100%;
    margin-top: 30px;

    >h2 {
      @include section-header;
    }
  }

  >article:nth-child(even) {
    transform: translateX(-101%);
  }
}

#pizza:checked~#pizza_menu,
#pasta:checked~#pasta_menu,
#drinks:checked~#drinks_menu,
#apps:checked~#apps_menu {
  opacity: 1;
  transform: translateX(0);
}

#pizza_menu {
  position: relative;
  top: 0;
}

// input[type="radio"] {
//   display: none;

//   &:checked+label {
//     border-bottom: 2px solid $mainText;
//   }
// }


.menu_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 5px;

  >div {
    width: 100%;
    // margin-bottom: 20px;

    >img {
      width: 100%;
      height: 200px;
      object-fit: cover;

    }
  }
}

.item_name {
  color: $secText;
  padding: 15px 0;
  font-weight: bold;
}

.menu_price {
  color: $mainText;
}

.item_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include item-info;
}

.item_info_double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include item-info;
}

.item_info_single {
  display: grid;
  @include item-info;
}

@media only screen and (min-width: 1000px) {
  .sticky_header {
    background: $altText;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: $secText;
    font-size: .8rem;
    z-index: 99999;

    span {
      color: $mainText;
    }

    .call_order {
      justify-self: start;
      padding-left: 10px;
    }

    .visit_order {
      justify-self: end;
      padding-right: 10px;
    }
  }

  .splash {
    margin-top: 3vh;

    >img {
      height: 97vh;
    }
  }

  .half_splash {
    margin-top: 3vh;
  }

  .caro_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;

    >.empty_space {
      display: none;
    }

    >.caro_item {
      width: 100%;
      height: 325px;
      position: relative;
      top: 0;
      left: 0;

      opacity: 1;
    }

    >label {
      display: none;
    }
  }
}

.featured {
  .caro_box {

    >.caro_item {
      height: 315px;
    }
  }
}


@media only screen and (max-width: 1000px) {
  .container {
    max-width: 550px;
    margin: auto;
  }
}