* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/background.png);
}

header {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 10000;
}

header .phone_btn {
  z-index: 9998;
  position: fixed;
  top: 0;
  padding-top: 10px;
}

header .logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

header .logo img {
  height: 100px;
}

header nav {
  position: fixed;
  right: 0;
  padding-right: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
}

header .hamburger .menu_checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  z-index: 9999;
}

header .hamburger .menu_checkbox:hover {
  cursor: pointer;
}

header .hamburger .menu_checkbox:checked ~ .mobile_nav {
  top: 0;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .hamburger .menu_checkbox:checked ~ .hamburger_container {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .hamburger_container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 9998;
  position: relative;
}

header .hamburger_container .ham_line {
  height: 4px;
  width: 30px;
  background: #fff;
  border-radius: 2px;
}

header .hamburger_container #ham_line_1 {
  width: 10px;
}

header .hamburger_container #ham_line_2 {
  width: 20px;
}

header .full_nav {
  display: none;
}

header .mobile_nav {
  background: url(/images/background.png);
  position: fixed;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px auto;
      grid-template-rows: 200px auto;
  justify-items: center;
  top: -200vh;
  left: 0;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 9997;
}

header .mobile_nav .logo {
  padding-top: 10px;
  z-index: 150;
}

header .mobile_nav #current {
  border-bottom: 3px solid #BF9930;
}

header .mobile_nav a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

header .mobile_nav a:hover {
  color: #BF9930;
}

@media only screen and (min-width: 1000px) {
  .hamburger,
  .phone_btn {
    display: none;
  }
  header nav {
    position: absolute;
    width: 90%;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  header nav .full_nav {
    padding: 10px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  header nav .full_nav a {
    color: #D0DDD7;
    font-weight: 800;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000;
  }
  header nav .full_nav a:hover {
    color: #BF9930;
  }
  header nav .full_nav #current1 {
    border-bottom: 3px solid #BF9930;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 30px 0 30px 0;
}

footer .socials > a {
  margin: 20px;
  text-decoration: none;
}

footer .socials > a:hover .svg_bg {
  fill: #BF9930;
}

footer .socials > a:hover .svg_logo {
  fill: #161616;
}

footer .socials > a > svg {
  height: 36px;
}

footer .svg_bg {
  fill: #161616;
}

footer .svg_logo {
  fill: #BF9930;
}

footer > span {
  color: #D0DDD7;
  font-size: .8rem;
  padding-top: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  display: -ms-grid;
  display: grid;
}

h3 {
  color: #D0DDD7;
  margin-bottom: 10px;
}

.pizza {
  height: 20px;
  fill: #BF9930;
  padding-bottom: 5px;
}

.sticky_header {
  display: none;
}

.splash {
  position: relative;
  display: -ms-grid;
  display: grid;
}

.splash > img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.splash_text {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  position: absolute;
  place-self: center;
  justify-items: center;
}

.splash_text h1 {
  font-size: 34px;
  color: #BF9930;
  text-shadow: 2px 2px 6px #000;
}

.splash_text p {
  color: #D0DDD7;
  font-family: "Encode Sans", sans-serif;
  text-shadow: 2px 2px 6px #000;
}

.fs_cta_buttons_1,
.mob_cta_buttons_1,
.fs_cta_buttons,
.mob_cta_buttons {
  display: -ms-grid;
  display: grid;
  margin-top: 5px;
  -ms-grid-columns: 140px 140px;
      grid-template-columns: 140px 140px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.fs_cta_buttons_1 .cta_button,
.mob_cta_buttons_1 .cta_button,
.fs_cta_buttons .cta_button,
.mob_cta_buttons .cta_button {
  background: transparent;
  border: 2px solid #BF9930;
  color: #D0DDD7;
  padding: 10px 20px;
  font-weight: bold;
  width: 100%;
  text-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 1px 1px 4px #000;
          box-shadow: 1px 1px 4px #000;
  cursor: pointer;
}

.fs_cta_buttons_1 .cta_button:hover,
.mob_cta_buttons_1 .cta_button:hover,
.fs_cta_buttons .cta_button:hover,
.mob_cta_buttons .cta_button:hover {
  background: #BF9930;
  color: #161616;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fs_cta_buttons_1,
.mob_cta_buttons_1 {
  -ms-grid-columns: 150px;
      grid-template-columns: 150px;
}

.fs_cta_buttons_1,
.fs_cta_buttons {
  display: none;
}

label:hover {
  cursor: pointer;
}

.caro_box {
  position: relative;
}

.caro_box > label {
  display: inline-block;
  content: '';
  margin: 0 20px;
  margin-top: 30px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #D0DDD7;
  z-index: 9999;
}

.caro_box > input {
  display: none;
}

.caro_box > input:checked + label {
  border-bottom: 14px solid #BF9930;
}

.caro_box .caro_item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.caro_box .caro_item > p {
  color: #D0DDD7;
  font-family: "Encode Sans", sans-serif;
  padding: 7px 0 0 5px;
}

.caro_box .caro_item > img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.empty_space {
  height: 276px;
  width: 100%;
}

.featured .empty_space {
  height: 290px;
  width: 100%;
}

#locally_sourced:checked ~ #offer_item1,
#gluten_free:checked ~ #offer_item2,
#res_special:checked ~ #offer_item3,
#feat_pizza:checked ~ #feat_item1,
#feat_pasta:checked ~ #feat_item2,
#feat_app:checked ~ #feat_item3 {
  opacity: 1;
}

.map_embed {
  text-align: center;
}

.map_embed > h2 {
  display: inline-block;
  color: #D0DDD7;
  margin-bottom: 30px;
}

.map_embed iframe {
  width: 100%;
  border: 0;
  height: 250px;
}

.half_splash {
  position: relative;
  display: -ms-grid;
  display: grid;
}

.half_splash .splash_text {
  margin-top: 80px;
}

.half_splash > img {
  opacity: .4;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.container h2 {
  display: inline-block;
  color: #D0DDD7;
  margin-bottom: 30px;
}

hr {
  border-color: #BF9930;
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 26px;
}

hr:last-child {
  margin-bottom: 0;
}

.food_menu {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.food_menu > input[type="radio"] {
  display: none;
}

.food_menu > input[type="radio"]:checked + label {
  border-bottom: 2px solid #BF9930;
}

.food_menu > label {
  color: #D0DDD7;
  font-weight: bold;
  padding: 10px 10px 3px 10px;
  margin-bottom: 10px;
}

.food_menu > article {
  opacity: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 20px;
}

.food_menu > article > h2 {
  display: inline-block;
  color: #D0DDD7;
  margin-bottom: 30px;
}

.food_menu > article:nth-child(even) {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

#pizza:checked ~ #pizza_menu,
#pasta:checked ~ #pasta_menu,
#drinks:checked ~ #drinks_menu,
#apps:checked ~ #apps_menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#pizza_menu {
  position: relative;
  top: 0;
}

.menu_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.menu_box > div > img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.menu_item hr {
  margin-bottom: 2px;
}

.menu_item .item_name {
  color: #D0DDD7;
  padding: 20px 0 15px 0;
  font-weight: bold;
}

.menu_price {
  color: #BF9930;
}

.item_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}

.item_info .item_size {
  color: #D0DDD7;
}

.item_info .item_price {
  color: #BF9930;
}

.item_info .item_size {
  padding: 0;
  font-style: italic;
}

.item_info .item_price {
  padding: 0px;
  font-weight: bold;
}

.item_info_double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.item_info_double .item_size {
  color: #D0DDD7;
}

.item_info_double .item_price {
  color: #BF9930;
}

.item_info_single {
  display: -ms-grid;
  display: grid;
  padding: 5px;
}

.item_info_single .item_size {
  color: #D0DDD7;
}

.item_info_single .item_price {
  color: #BF9930;
}

.about_us p {
  text-align: center;
  color: #D0DDD7;
  font-family: "Encode Sans", sans-serif;
  font-size: .9rem;
  line-height: 1.4rem;
  padding: 0 5px 5px 5px;
}

.about_us h2 {
  margin-bottom: 22px;
}

.video_container iframe {
  width: 100%;
  height: 300px;
}

.people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
}

.people img {
  width: 100%;
}

.people h3 {
  margin: 5px 0 2px;
}

.people h4 {
  color: #BF9930;
  font-family: "Encode Sans", sans-serif;
  font-size: .9rem;
}

.gallery_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 300px 100px;
  gap: 10px;
  grid-auto-flow: dense;
  position: relative;
}

.gallery_container .span_w1,
.gallery_container .span_w2,
.gallery_container .span_w3,
.gallery_container .span_w4,
.gallery_container .span_w5,
.gallery_container .span_w6 {
  grid-column: span 1;
}

.gallery_container .span_h1 {
  grid-row: span 1;
}

.gallery_container .span_h2 {
  grid-row: span 2;
}

.gallery_container .span_h3 {
  grid-row: span 3;
}

.gallery_container .gallery_image {
  position: relative;
  overflow: hidden;
}

.gallery_container .gallery_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery_container .gallery_image img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.lb_image {
  display: none;
}

.phone_opt p {
  color: #D0DDD7;
  margin-top: 10px;
  padding: 0 5px;
  font-size: 2.5rem;
}

.contact_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
}

.contact_grid .visit_opt iframe {
  width: 100%;
  height: 295px;
  border: 0;
}

.contact_grid .visit_opt p {
  color: #D0DDD7;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 5px;
}

.contact_grid .feedback_opt {
  width: 100%;
  text-align: left;
  padding: 0 10px;
}

.contact_grid .feedback_opt .contact_form {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact_grid .feedback_opt h3 {
  text-align: center;
  margin-top: 20px;
}

.contact_grid .feedback_opt label {
  color: #adadad;
  font-family: "Encode Sans", sans-serif;
  font-size: .9rem;
  font-weight: bold;
}

.contact_grid .feedback_opt input,
.contact_grid .feedback_opt textarea {
  color: #D0DDD7;
  display: block;
  width: 100%;
  background: #161616;
  border: 2px solid #353535;
  line-height: 1.2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: "Encode Sans", sans-serif;
  padding: 3px 0 3px 5px;
}

.contact_grid .feedback_opt input:focus,
.contact_grid .feedback_opt textarea:focus {
  outline: 0;
  border: 2px solid #BF9930;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_grid .feedback_opt .form_btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.contact_grid .feedback_opt .form_btns #submit_btn {
  place-self: end;
  margin-right: 5px;
}

.contact_grid .feedback_opt .form_btns #reset_btn {
  place-self: start;
  color: #D0DDD7;
  margin-left: 5px;
}

.contact_grid .feedback_opt #submit_btn,
.contact_grid .feedback_opt #reset_btn {
  width: 120px;
  color: #BF9930;
  font-size: 1rem;
}

.contact_grid .feedback_opt #submit_btn:hover,
.contact_grid .feedback_opt #reset_btn:hover {
  -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.contact_grid .feedback_opt textarea {
  height: 150px;
}

@media only screen and (max-width: 999px) {
  .container {
    max-width: 550px;
    margin: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .sticky_header {
    background: #161616;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #D0DDD7;
    font-size: .8rem;
    z-index: 99999;
  }
  .sticky_header span {
    color: #BF9930;
  }
  .sticky_header .call_order {
    -ms-grid-column-align: start;
        justify-self: start;
    padding-left: 10px;
  }
  .sticky_header .visit_order {
    -ms-grid-column-align: end;
        justify-self: end;
    padding-right: 10px;
  }
  .splash {
    margin-top: 3vh;
  }
  .splash > img {
    height: 97vh;
  }
  .half_splash {
    margin-top: 3vh;
  }
  .mob_cta_buttons_1,
  .mob_cta_buttons {
    display: none;
  }
  .fs_cta_buttons_1,
  .fs_cta_buttons {
    display: -ms-grid;
    display: grid;
  }
  .caro_box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .caro_box > .empty_space {
    display: none;
  }
  .caro_box > .caro_item {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .caro_box > label {
    display: none;
  }
  .video_container iframe {
    width: 80%;
    height: 400px;
  }
  .gallery_container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 300px 100px;
        grid-template-rows: 300px 100px;
  }
  .gallery_container .span_w1 {
    grid-column: span 1;
  }
  .gallery_container .span_w2 {
    grid-column: span 2;
  }
  .gallery_container .span_w3 {
    grid-column: span 3;
  }
  .gallery_container .span_w4 {
    grid-column: span 4;
  }
  .gallery_container .span_w5 {
    grid-column: span 5;
  }
  .gallery_container .span_w6 {
    grid-column: span 6;
  }
  .gallery_container .span_h1 {
    grid-row: span 1;
  }
  .gallery_container .span_h2 {
    grid-row: span 2;
  }
  .gallery_container .span_h3 {
    grid-row: span 3;
  }
  .contact_grid .visit_opt p {
    margin-bottom: 0;
  }
  .contact_grid .feedback_opt h3 {
    margin-top: 0;
  }
  .about_us p {
    text-align: left;
  }
  .lb_image {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
  }
  .lb_image:target {
    display: block;
  }
  .lb_image > img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */